<!DOCTYPE html>
<html>
    <head>
        <title>ana & nick</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
        <%= js :app %>
        <%= css :app %>
    </head>
    <body>
        <%= yield %>
    </body>
</html>
