<!DOCTYPE html>
<html>
    <head>
        <title>hoyoswelch</title>
        <%= css :application %>
    </head>
    <body>
        <div class="section welcome">
            <div class="banner">
                <div class="hero"></div>
            </div>
        </div>
        <div class="section field">
            <div class="nav">
                <div class="nav_elem">
                    <a href="#section_wedding">wedding</a>
                </div>
                <div class="nav_elem">
                    <a href="#section_rsvp">rsvp</a>
                </div>
                <div class="nav_elem">
                    <a href="#section_registry">registry</a>
                </div>
            </div>
        </div>
        <div id="section_wedding" class="section wedding">
            <div class="info">
                <div class="block">
                    <div class="header">Venue</div>
                    <div class="content">
                        We are getting married at Mabee Farm in Rotterdam Junction, NY
                    </div>
                </div>

                <div class="block">
                    <div class="header sub">
                        <a href="http://schenectadyhistorical.org/mabee-farm/">Mabee Farm</a>
                    </div>
                    <div class="content">
                        1080 Main Street</br>
                        Rotterdam Junction, NY 12150</br>
                    </div>
                </div>

                <div class="block">
                    <div class="content">
                        Ceremony will begin at 4:30 pm with a reception and dinner to follow.
                    </div>
                </div>

                <div class="block">
                    <div class="header">hotel</div>
                    <div class="content">
                        There are three hotels we recommend within walking distance of downtown Saratoga Springs.  Mabee Farm is about 25 miles from Saratoga.
                    </div>
                </div>

                <div class="block">
                    <div class="header sub">
                        <a href="http://goo.gl/9Ka8EM">Saratoga Hampton Inn</a>
                    </div>
                    <div class="content">
                        25 Lake Avenue</br>
                        Saratoga Springs, NY 12866</br>
                        (518) 584-2100
                    </div>
                </div>

                <div class="block">
                    <div class="header sub">
                        <a href="http://goo.gl/zZcZVm">The Saratoga Hilton</a>
                    </div>
                    <div class="content">
                        534 Broadway</br>
                        Saratoga Springs, NY 12866</br>
                        (518) 584-4000
                    </div>
                </div>

                <div class="block">
                    <div class="header sub">
                        <a href="http://goo.gl/h19F14">Saratoga Holiday Inn</a>
                    </div>
                    <div class="content">
                        232 Broadway</br>
                        Saratoga Springs, NY 12866</br>
                        (518) 584-4550
                    </div>
                </div>

                <div class="block">
                    <div class="header">things to do</div>
                    <div class="content">
                        Go for a run in <a href="http://www.nyparks.com/parks/saratogaspa">Saratoga Spa State Park</a></br>
                        Drink from one of the 18 <a href="http://www.saratoga.com/guid/health-mineral-springs.cfm">mineral springs</a> throughout Saratoga</br>
                        Take a walk through <a href="http://www.saratoga.com/hotspot_congress-park.cfm">Congress Park</a></br>
                        Visit the <a href="https://www.racingmuseum.org">National Museum of Racing</a> or the <a href="http://www.saratogaautomuseum.org">National Museum of Racing</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section barn"></div>
        <div id="section_rsvp" class="section rsvp">
            <form method="post" action="/guests">
                <div class="block">
                    <label for="name" class="name">My name is</label>
                    <input type="text" id="name" name="name" /></br>
                </div>

                <div class="block"
                    <label for="num_guests" class="num_guests">I am bringing</label>
                    <input type="number" id="num_guests" name="num_guests" />
                    <label for="num_guests" class="num_guests">guests</label><br>
                </div>

                <div class="block">
                    <label for="attending_yes" class="attending_yes">See you there</label>
                    <input type="radio" id="attending_yes" value="true"  name="attending" /></br>

                    <label for="attending_no" class="attending_no">Can't make it</label>
                    <input type="radio" id="attending_no" value="false"  name="attending" /></br>
                </div>

                <div class="block">
                    <label for="songs" class="songs">Song suggestions</label></br>
                    <textarea id="songs" name="songs"></textarea></br>
                </div>

                <div class="block">
                    <label for="advice" class="advice">Advice for us</label></br>
                    <textarea id="advice" name="advice"></textarea></br>
                </div>

                <input type="submit" class="submit">
            </form>
        </div>
        <div id="section_registry" class="section registry"></div>
    </body>
</html>
