<!DOCTYPE html>
<html>
    <head>
        <title>hoyoswelch</title>
    </head>
    <body>
        <div class="nav">
            <div class="nav_elem">Location</div>
            <div class="nav_elem">Information</div>
            <div class="nav_elem">rsvp</div>
        </div>
    </body>
</html>
