<div class="nav">
    <div class="nav_elem">
        <a href="/wedding">wedding</a>
    </div>
    <div class="nav_elem">
        <a href="/rsvp">rsvp</a>
    </div>
    <div class="nav_elem">
        <a href="/registry">registry</a>
    </div>
</div>
