<div class="nav clearfix">
    <div class="width_wrapper">
        <a class="hero" href="/"></a>
        <div class="nav_elems">
            <a class="wedding nav_elem" href="/wedding"></a>
            <a class="rsvp nav_elem" href="/rsvp"></a>
            <a class="registry nav_elem"  href="/registry"></a>
        </div>
    </div>
</div>
