<div id="section_registry" class="section registry">
    <%= erb :nav %>
    <div class="spinner"></div>
    <div class="registry_container">
        <script
            id='script_myregistry_giftlist_iframe'
            type='text/javascript'
            src='http://www.myregistry.com/Visitors/GiftList/iFrames/EmbedRegistry.ashx?r=saNMugFaVv5L4H73CRez7Q2'>
        </script>
    </div>
    <%= erb :footer %>
</div>
