<div id="section_wedding" class="section wedding">
    <%= erb :nav %>
    <div class="info">
        <div class="block">
            <div class="content">
                The primary information for our wedding is below, but if you have any questions please email us at <a href="mailto:hoyoswelch@gmail.com">hoyoswelch@gmail.com</a>.
            </div>
        </div>
        <div class="block">
            <div class="header">wedding details</div>
            <div class="content">
                We are getting married at Mabee Farm in Rotterdam Junction, NY
            </div>
        </div>

        <div class="block">
            <div class="header sub">
                <a href="http://schenectadyhistorical.org/mabee-farm/">Mabee Farm</a>
            </div>
            <div class="content">
                1080 Main Street</br>
                Rotterdam Junction, NY 12150</br>
            </div>
        </div>

        <div class="block">
            <div class="content">
                The ceremony will begin at 4:30 pm with a reception and dinner to follow.<br>
            </div>
        </div>

        <div class="block">
            <div class="content">
                On Sunday, we will organize an easy morning run with friends and family through Saratoga Springs. More details to come. The Saratoga Springs Half Marathon and 5k is scheduled for Sunday morning as well for any intrepid road racers. 
            </div>
        </div>

        <div class="block">
            <div class="header">travel and accomodations</div>
            <div class="content">
                There are three hotels we recommend within walking distance of downtown Saratoga Springs.  Mabee Farm is about 25 miles from Saratoga.
            </div>
        </div>

        <div class="block">
            <div class="content">
                Mabee Farm is about 25 miles southwest of Saratoga Springs and 25 miles northwest of Albany. It is a three-hour drive from both Boston and New York City.
            </div>
        </div>

        <div class="block">
            <div class="content">
                For those arriving by plane, Albany International is the closest airport and a short drive from the wedding venue and Saratoga Springs. Nonstop flights from the west coast into either Boston or New York are generally cheaper but involve a longer drive. 
            </div>
        </div>

        <div class="block">
            <div class="content">
                We will spend most of the weekend in Saratoga and encourage everyone staying overnight to consider the three hotels below, all within walking distance of downtown Saratoga Springs: 
            </div>
        </div>

        <div class="block">
            <div class="header sub">
                <a href="http://goo.gl/9Ka8EM">Saratoga Hampton Inn</a>
            </div>
            <div class="content">
                25 Lake Avenue</br>
                Saratoga Springs, NY 12866</br>
                (518) 584-2100
            </div>
        </div>

        <div class="block">
            <div class="header sub">
                <a href="http://goo.gl/zZcZVm">The Saratoga Hilton</a>
            </div>
            <div class="content">
                534 Broadway</br>
                Saratoga Springs, NY 12866</br>
                (518) 584-4000
            </div>
        </div>

        <div class="block">
            <div class="header sub">
                <a href="http://goo.gl/h19F14">Saratoga Holiday Inn</a>
            </div>
            <div class="content">
                232 Broadway</br>
                Saratoga Springs, NY 12866</br>
                (518) 584-4550
            </div>
        </div>

        <div class="block">
            <div class="header">things to do</div>
            <div class="content">
                Go for a run in <a href="http://parks.ny.gov/parks/112/details.aspx">Saratoga Spa State Park</a><br>
                Race the <a href="https://g2racereg.webconnex.com/saratogaspringshm2015">Saratoga Springs Half Marathon</a> on July 12th<br>
                Drink from one of the 18 <a href="http://www.saratoga.com/guide/health-mineral-springs.cfm">mineral springs</a> throughout Saratoga<br>
                Take a walk through <a href="http://www.saratoga.com/hotspot_congress-park.cfm">Congress Park</a><br>
                Visit the <a href="http://www.saratogaautomuseum.org">National Museum of Racing</a> or the Saratoga Auto Museum<br>
            </div>
        </div>
    </div>
    <%= erb :footer %>
</div>

<script>
    mixpanel.track('Viewed Wedding Page')
</script>
