html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.section {

    &.welcome {
        background: url('/images/welcome.jpg') no-repeat center;
        background-size: cover;
        height: 1155px;
        width: 100%;

        .banner {
            @media (max-width: 800px) {height: 150px;}
            position: absolute;
            width: 100%;
            height: 300px;
            background: url('/images/nick_ana.png') no-repeat center;
            background-color: rgba(50, 77, 118, 0.9);
            background-size: 100%;
        }

    }

    &.field {
        background: url('/images/field.jpg') no-repeat center;
        background-size: cover;
        height: 2000px;
        width: 100%;

        .nav {
            @media (max-width: 800px) {
                font-size: 20px;
            }
            @media (min-width: 800px) and ( max-width: 1200px) {
                font-size: 30px;
            }
            position: absolute;
            width: 100%;
            padding: 20px 0;
            background-color: rgba(50, 77, 118, 0.9);
            color: #F2CC37;
            font-size: 40px;
            font-weight: bold;
            text-align: center;

            .nav_elem {
                @media (max-width: 800px) {
                    padding: 0 30px;
                }
                @media (min-width: 800px) and ( max-width: 1200px) {
                    padding: 0 85px;
                }
                display: inline-block;
                padding: 0 130px;
                cursor: pointer;

                a {
                    color: inherit;
                    text-decoration: none;
                }

                &:hover {
                    color: #efefef;
                }
            }
        }
    }

    &.wedding {
        @media (max-width: 800px) {
            border-left: 50px solid  #c4350e;
            box-shadow: inset 20px 0px #ffde17;
            padding: 20px 60px;
        }
        border-left: 100px solid #353A56;
        box-shadow: inset 40px 0px rgba(242, 204, 55, 0.8);
        padding: 20px 80px;

        .info {
            color: #687994;
            font-size: 18px;
            a {
                color: #425066;
                text-decoration: none;
                font-weight: bold;
                &:hover {
                    color: #979DA6;
                }
             }
            .block {
                padding-top: 20px;

                .header {
                    font-size: 30px;
                    font-weight: bold;
                    border-bottom: 1px solid rgb(242, 204, 55);
                    margin-bottom: 10px;

                    &.sub {
                        font-size: 20px;
                        border-bottom: none;
                        margin-bottom: 0px;
                    }
                }

                .content {
                    padding-top: 2px;
                    line-height: 25px;
                }
            }
        }
    }

    &.barn {
        background: url('/images/barn.jpg') no-repeat center;
        background-size: cover;
        height: 1000px;
        width: 100%;
    }

    &.rsvp {
        color: #687994;
        font-size: 20px;
        font-weight: bold;
        padding: 60px;

        .header {
            font-size: 45px;
            font-weight: bolder;
            margin-bottom: 15px;
            border-bottom: 2px solid rgb(242, 204, 55);
        }

        .flash {
            display: none;
            text-align: center;
            border: 1px solid #E0AE6B;
            padding: 15px;
            background: rgba(252, 200, 64, 0.55);
            color: rgb(54, 80, 110);
            margin-bottom: 20px;
        }

        label {
            margin-right: 5px;
            padding-bottom: 5px;
            &.attending_yes { margin-right: 0px; }
            &.attending_no { margin-right: 0px; }
        }

        textarea, input {
            color: #687994;
            outline: none;
            margin-right: 5px;
            padding: 1px 5px;
            border: 1px solid #dfdfdf;

            &#num_guests {
                padding-right: 0px;
            }

            &#attending_yes {
                margin-right: 10px;
            }

            &.first_song {
                margin-right: 0px;
            }
        }

        input[type="submit"], button {
            cursor: pointer;
            border: 1px solid #687994;
            color: #687994;
            border-radius: 10px;
            background: white;
            padding: 0px 4px 2px 4px;
            outline: none;

            &.submit {
                padding: 5px 10px;
                font-size: 15px;
                font-weight: bold;
                border-radius: 1px;
            }

            &:hover {
                background: rgb(244, 244, 244);
                color: #2E3F59;
                border-color: #2E3F59;
            }

            &:active {
                color: #2E3F59;
                border-color: #2E3F59;
                background: white;
                outline: none;
            }
        }

        .songs_container {
            padding-top: 10px;
        }


        .plus_one_name {
            margin-left: 20px;
            &.first {
                margin-right: 0px;
            }
        }

        .block {
            padding-bottom: 20px;
        }

        textarea {
            margin-top: 10px;
            padding: 5px;
            width: 100%;
            height: 80px;
            resize: none;
        }
    }
}
