html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

@wedding_blue: rgba(86, 100, 132, 0.85);
.section {
    .clearfix::after {
        content: ' ';
        display: block;
        height: 0;
        clear: both;
    }

    .nav {
        background-color: @wedding_blue;
        padding: 15px;
        text-align: center;

        .hero {
            background: url('/images/hero.jpg') no-repeat center;
            height:115px;
            width:500px;
            background-size: 100%;
            float: left;
            display: block;
        }

        .nav_elems {
            float: right;

            .nav_elem {
                padding: 5px 0;
                display: block;

                &.wedding {
                    background: url('/images/wedding_yellow.png') no-repeat center;
                    background-size: 100%;
                    padding-top: 0px;
                    height: 33px;
                    width: 110px;

                    &:hover {
                        background-image: url('/images/wedding_white.png');
                    }
                }

                &.rsvp {
                    background: url('/images/rsvp_yellow.png') no-repeat center;
                    background-size: 100%;
                    width: 58px;
                    height: 24px;

                    &:hover {
                        background-image: url('/images/rsvp_white.png');
                    }
                }

                &.registry {
                    background: url('/images/registry_yellow.png') no-repeat center;
                    background-size: 100%;
                    padding-bottom: 0px;
                    height: 31px;
                    width: 100px;

                    &:hover {
                        background-image: url('/images/registry_white.png');
                    }
                }
            }
        }
    }

    .footer {
        height: 50px;
        width: 100%;
        background: @wedding_blue;
        margin-top: 100px;
    }

    &.welcome {
        background: url('/images/welcome.jpg') no-repeat center;
        background-size: cover;
        height: 100%;
        width: 100%;

        .nav {
            .hero {
                pointer-events: none;
                cursor: default;
            }
        }

        .banner {
            @media (max-width: 800px) {height: 70px;}
            @media (max-width: 1200px) {height: 300px;}
            width: 100%;
            height: 200px;
            background: url('/images/nick_ana.png') no-repeat center;
            background-color: @wedding_blue;
            background-size: 70%;
        }
    }

    &.wedding {
        background: url('/images/field.jpg') no-repeat center;
        background-size: cover;
        width: 100%;
        
        .nav {
            .nav_elems {
                .wedding {
                    background-image: url('/images/wedding_white.png');
                    pointer-events: none;
                    cursor: default;
                }
            }
        }

        .info {
            margin: 60px 0 60px 100px;
            background-color: @wedding_blue;
            font-size: 18px;
            color: white;
            padding: 40px;
            a {
                color: white;
                text-decoration: none;
                font-weight: bold;
                &:hover {
                    color: #F2CC37;
                }
             }

            .block {
                padding-top: 20px;

                .header {
                    font-size: 30px;
                    font-weight: bold;
                    margin-bottom: 10px;
                    color: #F2CC37;

                    &.sub {
                        font-size: 20px;
                        border-bottom: none;
                        margin-bottom: 0px;
                    }
                }

                .content {
                    padding-top: 2px;
                    line-height: 25px;
                }
            }
        }
    }

    &.rsvp {
        color: white;
        font-size: 20px;
        font-weight: bold;
        background-color: @wedding_blue;

        .nav {
            .nav_elems {
                .rsvp {
                    background-image: url('/images/rsvp_white.png');
                    pointer-events: none;
                    cursor: default;
                }
            }
        }

        .barn {
            background: url('/images/barn.jpg') no-repeat center;
            background-size: cover;
            height: 1000px;
            width: 100%;
        }

        .flash {
            display: none;
            text-align: center;
            border: 1px solid #E0AE6B;
            padding: 15px;
            background: rgba(252, 200, 64, 0.55);
            color: white;
            margin-bottom: 20px;
        }

        #rsvp_form {
            #map {
                height: 400px;
                width: 100%;
                padding: 5px;
                margin-bottom: 50px;
                margin-top: 10px;
            }

            padding: 60px;

            label {
                margin-right: 5px;
                padding-bottom: 5px;
                &.attending_yes { margin-right: 0px; }
                &.attending_no { margin-right: 0px; }
            }


            textarea, input {
                color: white;
                outline: none;
                margin-right: 5px;
                padding: 3px 5px;
                border: 1px solid #dfdfdf;
                background-color: transparent;
                font-size: 15px;

                &#num_guests {
                    padding-right: 0px;
                }

                &#attending_yes {
                    margin-right: 10px;
                }

                &.first_song {
                    margin-right: 0px;
                }
            }

            input {
                border: none;
                border-bottom: 1px solid #dfdfdf;
            }

            input[type="submit"], button {
                cursor: pointer;
                border: 1px solid #687994;
                color: #687994;
                border-radius: 10px;
                background: white;
                padding: 0px 4px 2px 4px;
                outline: none;

                &.submit {
                    padding: 5px 10px;
                    font-size: 15px;
                    font-weight: bold;
                    border-radius: 1px;
                }

                &:hover {
                    background: rgb(244, 244, 244);
                    color: #2E3F59;
                    border-color: #2E3F59;
                }

                &:active {
                    color: #2E3F59;
                    border-color: #2E3F59;
                    background: white;
                    outline: none;
                }
            }

            .songs_container {
                padding-top: 10px;
            }


            .plus_one_name {
                margin-left: 20px;
                &.first {
                    margin-right: 0px;
                }
            }

            .block {
                padding-bottom: 20px;
            }

            textarea {
                margin-top: 10px;
                padding: 5px;
                width: 100%;
                height: 80px;
                resize: none;
            }
        }
    }

    &.registry {
        .nav {
            .nav_elems {
                .registry {
                    background-image: url('/images/registry_white.png');
                    pointer-events: none;
                    cursor: default;
                }
            }
        }
    }
}
